.app {
  max-width: 1193px;
  padding: 37px;
  margin: 0 auto;
  min-width: 360px;
}
.title {
  font-size: 2.25rem;
  text-align: center;
  font-weight: normal;
  margin: 0 0 23px;
}
.card-list {
  display: flex;
  justify-content: space-between;
}
